.removeBasket_btn {
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #FF5634;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.basket-items_container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.basket-item__img {
    width: 150px;
    height: auto;
}

.basket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-item__title {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.basket-item__price {
    font-size: 20px;
    font-weight: 400;
    color: rgb(59, 56, 56);
}
.basket-offer_container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.register_btn {
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #FF5634;
    color: white;
    padding: 5px;
    border-radius: 10px;
}